/*universal declaration*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*universal header*/

header{
    background-color: rgb(119, 20, 89);
    color: antiquewhite;
    border: 1px solid beige;
    border-radius: 10px;
    position: sticky;
    top: 0px;
}

/*calling the class nav1*/

.nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    border: 1px solid beige;
}

/*calling ul in the nav1*/

.nav1 ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

/*calling the class nav2 */

.nav2{
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border: 1px solid beige;
}

.nav2 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.prdlst{
  background-color: rgb(172, 62, 163);
  color: antiquewhite;
  position: absolute;
  top: 100%;
  left: 0px;
  display: none;
}

.drpdwn:hover .prdlst{
  display: flex;
  gap: 20px;
}

.prdlst ul{
  display: block;
}

section{
    background-color: rgb(250, 235, 255);
    height: 200vh;
}



footer{
    background-color: rgb(119, 20, 89);
    color: antiquewhite;
    border: 1px solid beige;
    border-radius: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    display: flex;
    list-style-type: none;
    gap: 20px;
}

